In [1]:
### Segmenting and Clustering Neighbrhood in Toronto # PART I

In [2]:
# import the important packages

In [3]:
import requests
import pandas as pd

In [4]:
# import the data from the url link

In [5]:
link = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
Data_source = requests.get(link)

In [6]:
## Preprocessing and Scraping raw data into DataFrame

In [7]:
df_raw = pd.read_html(Data_source.content, header=0)[0]
df_new = df_raw[df_raw.Borough != 'Not assigned']

df_new.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [8]:
df_new.loc[df_new.Neighbourhood == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [9]:
df_new.Neighbourhood.replace('Not assigned',df_new.Borough,inplace=True)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [10]:
df_new.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [11]:
## group by the postal code and borough

In [12]:
df_Toronto = df_new.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x))
df_Toronto = df_Toronto.reset_index()
df_Toronto.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [13]:
df_Toronto.rename(columns = {'Postal Code':'PostalCode'}, inplace = True)
df_Toronto.rename(columns = {'Neighbourhood':'Neighborhood'}, inplace = True)
df_Toronto.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [14]:
### Export to csv file

In [15]:
df_Toronto.to_csv('Toronto.csv',index=False)

In [16]:
##Data wrangling

In [17]:
df_Toronto.shape

(103, 3)

In [18]:
print('The shape of the Dataframe is:',df_Toronto.shape)

The shape of the Dataframe is: (103, 3)